body{
  min-height: 100vh;
  margin: 0;
  padding: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

main{
  border: red solid 1px;
  font-family:sans-serif;
  display: grid;
  grid-teplates-rows: auto 1fr;
  grid-teplates-columns: 1fr 1fr;
  min-width: 800px;
}

h1{
  grid-column:1/3;
  text-align:center;
  //border: red solid 1px;
}
.form{
  display: flex;
  flex-direction: column;
  //border: red solid 1px;
  label{
    margin-top: 20px;
    margin-bottom:10px;
  }
  input{
    padding: 10px;
    background-radius: 5px;
    border: none;
  }
}

.requierments{
  //border: red solid 1px;

  
  .invalid{
    color: red;
  }
  .valid{
    color:green;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image:url(https://marketplace.canva.com/EAFO06cjym0/1/0/900w/canva-blue-gradation-smoke-phone-wallpaper-2oSMDkYcEf4.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
  }
  
  .navbar-brand span {
    display: inline-block;
    transform: rotate(45deg);
    margin:0 5px;
  }
  
  main {
    text-align: center;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .poll{
    max-width:600px;
    margin: 20px auto;
  }
  footer{
    width: 100%;
    text-align: auto;
    font-size: 18px;
  }
