a {
    color: crimson;
}

button {
    color: crimson;
    font-family: Nosifer;
    font-size: 100px;
    border: 3px solid;
    border-radius: 12px;
}

.text-center {
    text-align: center;
}

button:hover {
    transition-duration: 0.69s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #1a1919;
    color: white;
}