@font-face {
    font-family: waku;
    src: url(font/waku/mini-wakuwaku.otf);
}





body {    
    background-color: rgb(231, 231, 231);





}

h1 {
    color: orangered;
    text-align: center;
    stroke: black;
    font-family: waku;
    text-shadow: -20px 20px 0 #000, 20px -20px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}



p {
    font-family: waku;
    color: black;
    text-align: center;





}






.pumpkin img{
    position: relative;
    left: 2070px;

    width: 15%;


}

.bat img{
    position: relative;
    left: 1960px;



}




    
#drawingCanvas {
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center horizontally using margin */
  }
  
    
  #clearButton {
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center horizontally using margin */
  }


